.Card {
    background: #ffffff;
    border: 1px solid #D7D8D9;
}

img {
    height: 140px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
span {
    display: block;
    padding-bottom: 8px;
}
.fee_info {
    float: left;
}
.fee_splitter {
    background: #D7D8D9;
    height: 1px;
    float: left;
    width: 100%;
    margin-bottom: 8px;
}
.progress_block {
    float: left;
}
.help_button {
    float: right;
}

.progress_block .Subhead {
    margin-bottom: 8px;
}

.fee_header {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.fee_sub_header {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #818C99;
}